
<%- include('partials/head') %>

<%- include('partials/navbar') %>

<div class="container">
    <div class='info-boards'>
        <div class="gallery" id="gallery">
            <div class="gallery-item">
                <div class="content"><img src="https://source.unsplash.com/random/?tech,care" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="https://source.unsplash.com/random/?tech,studied" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="https://source.unsplash.com/random/?tech,substance" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="https://source.unsplash.com/random/?tech,choose" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="https://source.unsplash.com/random/?tech,past" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="https://source.unsplash.com/random/?tech,lamp" alt=""></div>
            </div>
            <div class="gallery-item">
                <div class="content"><img src="https://source.unsplash.com/random/?tech,yet" alt=""></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel">

            <div class="pricing-plan">
                <img src="icons/icon1.png" alt="" class="pricing-img">
                <h2 class="pricing-header">Website</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Custom Designs</li>
                    <li class="pricing-features-item">Maintenance and Hosting</li>
                </ul>
                <span class="pricing-price">$15</span>
                <a href="#/" class="pricing-button">Sign up</a>
            </div>

            <div class="pricing-plan">
                <img src="icons/icon2.png" alt="" class="pricing-img">
                <h2 class="pricing-header">Web Application</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Store/Payments and Users</li>
                    <li class="pricing-features-item">Maintenance, Hosting, Customization</li>
                </ul>
                <span class="pricing-price">$150</span>
                <a href="#/" class="pricing-button ">Free trial</a>
            </div>

            <div class="pricing-plan">
                <img src="icons/icon3.png" alt="" class="pricing-img">
                <h2 class="pricing-header">Enterprise</h2>
                <ul class="pricing-features">
                    <li class="pricing-features-item">Full Package</li>
                    <li class="pricing-features-item">Website, Web Application etc.</li>
                </ul>
                <span class="pricing-price">$400</span>
                <a href="#/" class="pricing-button is-featured">Free trial</a>
            </div>

        </div>
    </div>

    <div class="container list">
        <p class="list-item">High Level Education</p>
        <p class="list-item">Form Community</p>
        <p class="list-item">Performance Based Learning</p>
        <p class="list-item">Sponship Program</p>
        <p class="list-item">Our School Offers a Path to a Vibrant Future</p>
    </div>

    <div class="container">
        <section id="user">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb-3" id="border">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/?tech,substance" alt="">
                            <div class="card-body">
                                <h3 class="card-title">Curriculums</h3>
                                <p class="card-text">View our curriculums according to each grade.</p>
                                <a href="#" class="btn btn-outline-info"><i class="fab fa-earlybirds"></i>VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/?tech,lamp" alt=""
                                height="350">
                            <div class="card-body ">
                                <h3 class="card-title">School Fees</h3>
                                <p class="card-text">Recieving top level education is the way to success.</p>
                                <a href="#" class="btn btn-outline-info"><i class="fab fa-earlybirds"></i>VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/?tech,past" alt=""
                                height="350">
                            <div class="card-body">
                                <h3 class="card-title">Enrollment</h3>
                                <p class="card-text">All the details needed for enrollment can be found here.</p>
                                <a href="#" class="btn btn-outline-info"><i class="fab fa-earlybirds"></i>VIEW</a>
                            </div>
                        </div>
        </section>
        <section id="user">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mb-3" id="border">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/?tech,substance" alt="">
                            <div class="card-body">
                                <h3 class="card-title">Sponsors</h3>
                                <p class="card-text">Sponsor a student for a specified time.Find a sponsor for your
                                    child.</p>
                                <a href="#" class="btn btn-outline-info"><i class="fab fa-earlybirds"></i>VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/?tech,lamp" alt=""
                                height="350">
                            <div class="card-body ">
                                <h3 class="card-title">Corona Restrictions</h3>
                                <p class="card-text">Changes and Rules for the School can be found here.</p>
                                <a href="#" class="btn btn-outline-info"><i class="fab fa-earlybirds"></i>VIEW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/?tech,past" alt=""
                                height="350">
                            <div class="card-body">
                                <h3 class="card-title">Staff</h3>
                                <p class="card-text">Meet our Staff. Why and How we choose our Staff.</p>
                                <a href="#" class="btn btn-outline-info"><i class="fab fa-earlybirds"></i>VIEW</a>
                            </div>
                        </div>
        </section>
        <div class="col-sm-4 mb-3">
            </section>
        </div>
    </div>

    <div class="container">
        <h1 class="text-header">A Warm Welcome From The Director</h1>
        <div class="welcome landing-text">
            It is our pleasure to welcome you to IQ International School Siem Reap. We are fortunate to have an
            incredible campus, caring and dedicated international teachers, and vibrant and diverse children who chose
            to study here. There is no place quite like IQ International School for children to learn and grow !
            IQ International School Siem Reap students are engaged in a relevant, challenging and balanced educational
            program taught by experienced international educators. Our purpose built classrooms, surrounded by a safe
            and spacious green campus, give children amazing opportunities to explore, play and learn.
            IQ International School was founded in 2002 . High quality standards and committed professional teachers
            made the school very successful. Today IQ International is running 4 branches with more than 3000 students
            and 200 employees. The school runs a complete Cambodian and American curriculum and is fully recognized by
            the Cambodian Ministry of Education. Students are taught in Cambodian as well as English language.
        </div>
        <h1 class="text-header">
            About IQ
        </h1>
        <div class="landing-text">
            Our facilities are fully equipped with computer lab, science lab, cafeteria, library, and offices for
            teachers and other staff members. Students are taught English, Mathematics, Science, Physics, Chemistry,
            Biology, Computers, Social Studies, Health, Arts and Physical Education.
            We also offer courses in classical ballet, taekwondo and musical education. Our philosophy of education is
            based on knowing each child as an individual and recognizing their strengths and needs. Children are taught
            to ask critical questions and to seek answers, developing their knowledge and skills through the inquiry
            process.
            Students are active participants in the learning process, collaborating with their peers, developing their
            own ideas and strengthening their habits of mind and leadership abilities necessary for their future
            success. IQ International School's beautiful physical setting, caring community, qualified and professional
            teachers, and internationally recognized curriculum combine for a unique educational environment.
            Each child is nurtured to reach their full potential as individuals and build skills they will need to
            ensure best possible education and a bright and successful future.
        </div>
    </div>
</div>

<%- include('partials/footer') %>